/.well-known
/nina@#cache
/cache
/admin/*/
/admin/*.php
/admin/*.docx
/admin/*.html
/admin/*.js
!/admin/css/
/admin/css/*
!/admin/css/main.css
!/admin/css/main_repon.css
!/admin/ajax
!/admin/sources
!/admin/templates
!/admin/index.php
!/admin/ajax.php
!/admin/ajax_phanquyen.php
/amazing
/captcha
/composer
/Jpage
/nivo-slider
/plugin
/sliderengine
/phpMailer
/slick
/images
/css/fontawesome
/fonts
/css/*.png
/css/graphics
/css/photobox
/js/galleria
/js/slideShow
/js/css
/node_modules
/production
/upload
/vendor
baotri.jpg
baotri.png
robots.txt
*.shtml
*.zip
*.sql
package-lock.json