.header-navigate{
	background-color: $breadcrumb-bg;
	margin-bottom: 20px;
}
.breadcrumb {
	background-color: $breadcrumb-bg;
	padding: 8px 0;
	margin-bottom: 0;
	&.breadcrumb-arrow{
		.breadcrumb-item{
			@include setFont(em(20), #1f2022, 700);
			@include setTagAHover(#1f2022, #25aef5);
			a{
				@include setFont(em(20), #1f2022, 700);
			}
			&.active {
			  color: #707070;
			}
		}
	}
}
