div#dknt {
}
.maildesc{
}
form#frm_dknt {

    input[type='text'] {
        height: 47px;
        border-radius: 5px;
        border: 1px solid #dedede;
        margin-bottom: 10px;
    }
    textarea{
        height: 135px;
        border-radius: 5px;
        border: 1px solid #dedede;
        margin-bottom: 10px;
    }
    #submit_nhantin {
        cursor: pointer;
        i{
        }
    }
}