.openBtn {
    // @include transition(width .6s, border-radius .6s, background .6s, box-shadow .6s);
    // @include relative($right: 0);
    // @include setFont(16px, #000, 700);
    // @include box(50px, 50px);
    // @include grid($display: inline-flex, $align-items: center, $justify-content: center);
    // border: none;
    // cursor: pointer;
    // z-index: 400; 
    // outline: none !important;
    // background-color: transparent;
}

#search {
    @include flex(1);
    position: relative;
    max-width: 120px;
    z-index: 50;
    overflow: hidden;
    &.hien {
        display: block;
    }

    .my-search {
        @include grid($display: flex, $align-items: center, $justify-content:
         space-between);
        overflow: hidden;
        border: 1px solid #eee;
        border-radius: 6px;
        .keyword {
            @include flex(1);
            @include setFont(12px, #a7a7a7);
            padding: 0px 5px;
            border: 0;
            height: 25px;
            border-radius: 0;
            box-shadow: none;
        }

        .btn_search {
            @include box(30px, 30px);
            @include grid(flex, $justify-content: center, 
              $align-items: center);
            cursor: pointer;
            color: #a4a4a4;
        }
    }
}
